/* *{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}  */
h1{
    text-align: center;
    padding: 1%;
}
body{
    background-color: aqua;
}
/* .navegacion{
    width: 1000px;
    margin: 30px auto; 

} */
.navegacion ul{
    list-style: none;
} 
.menu > li{
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    background-color: antiquewhite;
    justify-content: space-between;
    border-radius: 10%;
}

.menu li a:hover{
    color: rgb(211, 99, 19);
    background-color: black; 
}

.submenu{
    position: absolute;
    width: 50px;
    display: none; 
    padding: 0;
    margin: 0;  
}


.submenu li a{
    display: block; 
    padding: 15px ;
    color: rgb(1, 1, 63);
    text-decoration: none;
    border-radius: 10%;
    height: 2px;
    width: 75px;
    
}
 .menu li:hover .submenu{
    display: block;
} 